<h1>Reading Program Tracker</h1>

 <div class="container">
 	<p>Register to get started.</p>
 	<p>
    	<%= link_to 'Register', new_user_registration_path, class: 'btn btn-primary btn-lg' %>
 	</p>
</div>
